/*header*/
:root {
  --hoogte-header-balk: 100px;
  --afstand-logo-rand: 10px;
  --hoogte-footer-balk: 100px;
}

#rectangletop{
    width: 100%;
    height:var(--hoogte-header-balk);
    background:#91D8A6;
    left:0px
    top: 0px;
}

.fotologotop {
    position: absolute;
    width:auto;
    height:calc(var(--hoogte-header-balk) - 2 * var(--afstand-logo-rand));
    top:var(--afstand-logo-rand);
    left:var(--afstand-logo-rand);
}

.buttontop {
  position: absolute;
  border: none;
  color: #5c1d1f;
  padding: auto auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 45px;
  font-family: 'Neucha', cursive;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color:#91D8A6;
  outline:none;
  top:20px;
}

.buttontop:hover {
  background-color: #91D8A6;
  color: white;
}

.button1 {
  left: 300px;
}

.button2 {
  left: 500px;
}

.button3 {
  left: 780px;
}

.button4 {
    left: 1020px;
}

/*tussenstuk*/

.titel{
    color:#5c1d1f;
    text-align: center;
    font-size: 40px;
    font-family:'cardiff';
    margin:auto;
    padding:auto;
    margin-top:1%;
}

html,body {
    margin: 0;
    padding: 0;
}

body {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.middle {
    width: 75%;
    margin: 12.5%;
    margin-top: 1%;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
}
.balk{
    position:absolute;
    bottom:5px;
    height:225px;
    outline:none;
    border:none;
}

.foto1{
    left:12.5%;
}

.filmpje1 {
    right:calc(50% - 200px);
}

.foto2{
    right:12.5%;
}

.middlefilter{
    padding:auto auto;
    margin-top:1%;
    margin-left:5%;
    margin-bottom:2%;
    display: inline-block;
    /*background:#CCDBDC;*/
    font-family:arial;
}

.middleresultaten{
    display: inline-block;
    font-family:arial;
}