/*header*/
:root {
  --hoogte-header-balk: 130px;
  --afstand-logo-rand: 5px;
}

#rectangletop{
    width: 100%;
    height:var(--hoogte-header-balk);
    background:#91D8A6;
    left:0px
    top:0px;
}

img.fotologotop {
    position: absolute;
    width:auto;
    height:calc(var(--hoogte-header-balk) - 2 * var(--afstand-logo-rand));
    top:var(--afstand-logo-rand);
    left:var(--afstand-logo-rand);
}

.button {
  position: absolute;
  border: none;
  color: white;
  padding: auto auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 45px;
  font-family: 'Neucha', cursive;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #91D8A6;
  color: white;
}

.button1 {
  background-color:#91D8A6; 
  color: black; 
  border: none;
  left: 300px;
  top: 30px;
}

.button2 {
  background-color: #91D8A6; 
  color: black; 
  border: none;
  left: 500px;
  top: 30px;
}

.button3 {
  background-color:#91D8A6; 
  color: black; 
  border: none;
  left: 700px;
  top: 30px;
}

/*tussenstuk*/
html,body {
    margin: 0;
    padding: 0;
}

body {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

#container {
    width: 50%;
    margin: auto;
    margin-top: 5%;
    padding: 0;
}

/*footer*/
#rectanglebottom{
    position:absolute;
    height: 100px;
    width: 100%;
    background-color: rgb(212, 212, 212);
    left:0px;
    bottom:0px;
}

img.fotologobottom{
    position:absolute;
    right:50%;

}