:root {
  --hoogte-header-balk: 150px;
  --afstand-logo-rand: 5px;
}

#rectangle{
    width: screen.width;
    height:var(--hoogte-header-balk);
    background:#91D8A6;
}

div.fotologo {
    position: absolute;
    height: 100/*var(--hoogte-header-balk)-2*var(--afstand-logo-rand)*/;
    width:auto;
    
    top:5px;
    left:5px;
    
}

html,body {
    margin: 0;
    padding: 0;
}

body {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

#container {
    width: 50%;
    margin: auto;
    margin-top: 5%;
    padding: 0;
}

img {
    width: 60%;
    height: auto;
}
